<div class="py-12 pl-16 flex h-screen">
  <div class="flex flex-1 flex-col">
    <div class="flex items-center">
      <img
        class="w-96 h-56 rounded-xl drop-shadow-lg"
        src="assets/project/design.jpg"
        alt=""
      />
      <div class="pl-4 py-2">
        <div class="flex flex-col">
          <div class="flex items-center">
            <span class="text-4xl font-medium">Project-1</span>
            <div
              [ngClass]="{
                'border-green text-green': difficulty == 'easy',
                'border-orange text-orange': difficulty == 'medium',
                'border-red-700 text-red-700': difficulty == 'hard',
                'border-purple text-purple': difficulty == 'ultimate'
              }"
              class="flex items-center justify-between rounded-full border-2 px-2 py ml-2 text-sm select-none"
            >
              <div
                [ngClass]="{
                  'bg-green': difficulty == 'easy',
                  'bg-orange': difficulty == 'medium',
                  'bg-red-700': difficulty == 'hard',
                  'bg-purple': difficulty == 'ultimate'
                }"
                class="h-2 w-2 rounded-full"
              ></div>

              <span class="ml-2 capitalize">{{ difficulty }}</span>
            </div>
          </div>
          <a
            class="text-sm"
            href="https://prakhar-5447.github.io/angular-portfolio"
            >https://prakhar-5447.github.io/angular-portfolio</a
          >
          <div class="my-4">
            <h4 class="font-medium text-lg mb-2">Technology :</h4>
            <mat-chip-list aria-label="Fish selection">
              <mat-chip
                ngClass=" hover:bg-purple hover:text-white"
                *ngFor="let t of tech"
                class="text-medium"
              >
                <div class="p-px">
                  {{ t }}
                </div>
              </mat-chip>
            </mat-chip-list>
          </div>
        </div>
      </div>
    </div>
    <div class="h-full flex flex-col justify-between">
      <div>
        <p class="text-justify text-lg mt-8">
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Alias, odio
          sed modi molestiae in amet corrupti incidunt eaque similique veniam
          maxime libero qui repellendus, laborum expedita ullam facere
          doloremque officiis sapiente illum nesciunt minima soluta aperiam.
          Accusantium pariatur harum necessitatibus eius, laudantium error dicta
          vero adipisci similique eaque nisi minima quisquam vel ducimus,
          sapiente, assumenda expedita. Deleniti labore ex minus consequuntur
          saepe officiis voluptates molestias. Laborum at nemo culpa vel
          expedita harum. Animi laboriosam velit voluptatem odio ex quas facilis
          dolore beatae, voluptatibus quis ad, optio ab odit hic repellendus,
          libero sint debitis ea adipisci? Eum iste vel sapiente consequuntur!
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Alias, odio
          sed modi molestiae in amet corrupti incidunt eaque similique veniam
          maxime libero qui repellendus, laborum expedita ullam facere
          doloremque officiis sapiente illum nesciunt minima soluta aperiam.
          Accusantium pariatur harum necessitatibus eius, laudantium error dicta
          vero adipisci similique eaque nisi minima quisquam vel ducimus,
          sapiente, assumenda expedita. Deleniti labore ex minus consequuntur
          saepe officiis voluptates molestias. Laborum at nemo culpa vel
          expedita harum. Animi laboriosam velit voluptatem odio ex quas facilis
          dolore beatae, voluptatibus quis ad, optio ab odit hic repellendus,
          libero sint debitis ea adipisci? Eum iste vel sapiente consequuntur!
        </p>
      </div>
      <div>
        <button mat-button class="bg-gray-light drop-shadow-sm uppercase">
          START
        </button>
      </div>
    </div>
  </div>
  <div class="flex-1 px-12 h-full pb-8">
    <div class="flex items-center p-2 bg-black/[0.1] rounded-t-lg">
      <img class="w-8" src="assets/project/timeline.png" alt="timeline" />
      <h1 class="">Timeline</h1>
    </div>
    <div class="h-full overflow-y-auto drop-shadow-xl bg-white/[0.5]">
      <div *ngFor="let i of index">
        <div class="px-2 flex items-center">
          <span class="my-4 text-gray-dark">{{ i }}</span>
        </div>
        <hr class="border-gray" />
      </div>
    </div>
  </div>
</div>
