<div *ngIf="challengeInfo" class="py-12 pl-16 flex h-screen">
  <div class="flex flex-1 flex-col">
    <div class="flex items-center">
      <img
        class="w-96 h-56 rounded-xl drop-shadow-lg"
        src="http://127.0.0.1:8000/upload/{{ challengeInfo.ProjectImage }}"
        alt=""
      />
      <div class="pl-4 py-2">
        <div class="flex flex-col">
          <div class="flex items-center">
            <span class="text-4xl font-medium">{{ challengeInfo.Name }}</span>
            <div
              [ngClass]="{
                'border-green text-green':
                  challengeInfo.Difficulty_level == 'Easy',
                'border-orange text-orange':
                  challengeInfo.Difficulty_level == 'Medium',
                'border-red-700 text-red-700':
                  challengeInfo.Difficulty_level == 'Hard',
                'border-purple text-purple':
                  challengeInfo.Difficulty_level == 'Ultimate'
              }"
              class="flex items-center justify-between rounded-full border-2 px-2 py ml-2 text-sm select-none"
            >
              <div
                [ngClass]="{
                  'bg-green': challengeInfo.Difficulty_level == 'Easy',
                  'bg-orange': challengeInfo.Difficulty_level == 'Medium',
                  'bg-red-700': challengeInfo.Difficulty_level == 'Hard',
                  'bg-purple': challengeInfo.Difficulty_level == 'Ultimate'
                }"
                class="h-2 w-2 rounded-full"
              ></div>

              <span class="ml-2 capitalize">{{
                challengeInfo.Difficulty_level
              }}</span>
            </div>
          </div>
          <a class="text-sm" href="{{ challengeInfo.Url }}">{{
            challengeInfo.Url
          }}</a>
          <div class="my-4">
            <h4 class="font-medium text-lg mb-2">Technology :</h4>
            <mat-chip-list aria-label="Fish selection">
              <mat-chip
                ngClass=" hover:bg-purple hover:text-white"
                *ngFor="let t of challengeInfo.Technology"
                class="text-medium"
              >
                <div class="p-px">
                  {{ t.name }}
                </div>
              </mat-chip>
            </mat-chip-list>
          </div>
        </div>
      </div>
    </div>
    <div class="h-full flex flex-col justify-between">
      <div>
        <p class="text-justify text-lg mt-8">
          {{ challengeInfo.Description }}
        </p>
      </div>
      <div>
        <button mat-button (click)="acceptChallenge()" class="bg-gray-light drop-shadow-sm uppercase">
          START
        </button>
      </div>
    </div>
  </div>
  <div class="flex-1 px-12 h-full pb-8">
    <div class="flex items-center p-2 bg-black/[0.1] rounded-t-lg">
      <img class="w-8" src="assets/project/timeline.png" alt="timeline" />
      <h1 class="">Timeline</h1>
    </div>
    <div class="h-full overflow-y-auto drop-shadow-xl bg-white/[0.5]">
      <div *ngFor="let i of challengeInfo.Progress">
        <div class="px-2 flex items-center">
          <span class="my-4 text-gray-dark">{{ i.title }}</span>
        </div>
        <hr class="border-gray" />
      </div>
    </div>
  </div>
</div>
