<div class="login-bg flex justify-between items-center px-44">
  <div class="login-left">
    <span class="font-medium text-7xl">Pixelmate</span>
    <p class="para text-lg w-[40rem] text-justify mt-4">
      Pixelmate is a platform that give you access to stor your project details
      and API to integrate with any application like portfolio.
    </p>
  </div>
  <div
    class="login-right bg-white/[0.9] drop-shadow-sm rounded-2xl flex flex-col justify-between py-12 px-16 h-[40rem]"
  >
    <div class="">
      <span class="text-3xl">Login</span>
      <p class="text-base">
        or
        <a class="text-slate-600 font-medium text-xl" routerLink="/signup">
          Create an account
        </a>
      </p>
    </div>
    <div class="">
      <form
        (ngSubmit)="continue()"
        [formGroup]="loginForm"
        class="flex flex-col items-center"
      >
        <mat-form-field class="w-80" appearance="fill">
          <mat-label>Username</mat-label>
          <input
            matInput
            type="text"
            placeholder=""
            formControlName="username"
            value=""
          />
        </mat-form-field>
        <span class="mb-4 font-medium text-lg">or</span>
        <mat-form-field class="w-80" appearance="fill">
          <mat-label>Email</mat-label>
          <input
            matInput
            type="email"
            placeholder=""
            formControlName="email"
            value=""
          />
        </mat-form-field>
        <mat-form-field class="w-80" appearance="fill">
          <mat-label>Password</mat-label>
          <input
            type="password"
            matInput
            placeholder="Password must contain 8 characters"
            formControlName="password"
            value=""
          />
        </mat-form-field>
        <button
          type="submit"
          mat-raised-button
          color="accent"
          [disabled]="loginForm.invalid"
          class="w-32 h-12"
        >
          Let's Go &rarr;
        </button>
      </form>
    </div>
    <div class="flex justify-center">
      <code>user agreement and T&C</code>
    </div>
  </div>
</div>
