<div class="bg-white p-8">
  <form
    (ngSubmit)="add()"
    [formGroup]="taskForm"
    class="example-form flex flex-col"
  >
    <mat-form-field class="example-full-width w-[30rem]" appearance="fill">
      <mat-label>Write your task</mat-label>
      <input
        matInput
        formControlName="title"
        placeholder="Ex. Create home page"
        value=""
      />
    </mat-form-field>
    <div class="grid justify-items-end">
      <button
        type="submit"
        mat-button
        [disabled]="taskForm.invalid"
        color="accent"
        class="text-lg"
      >
        Add
      </button>
    </div>
  </form>
</div>
