<div class="pl-16 pt-12 flex flex-col h-screen">
  <div class="pb-12 w-[20rem]">
    <a routerLink="/project">
      <div
        class="py-4 bg-white drop-shadow-2xl flex items-center justify-between"
      >
        <img class="w-12 rounded-full mx-4" src="/assets/auth/bg.png" alt="" />
        <p>Hello, {{ name }}</p>
        <img
          class="w-8 rounded-full mx-4"
          src="/assets/home/arrow.png"
          alt=""
        />
      </div>
    </a>
    <!-- <mat-progress-bar mode="determinate" value="100"></mat-progress-bar> -->
  </div>
  <div class="drop-shadow-xl">
    <span class="font-semibold text-3xl ml-2"> Projects </span>
    <hr class="mb-4 drop-shadow-2xl" />
  </div>
  <div class="overflow-auto">
    <div class="grid grid-cols-4 gap-4">
      <div
        *ngFor="let i of index"
        class="hover:drop-shadow-xl w-96 cursor-pointer"
      >
        <img
          class="w-full rounded-md opacity-50 hover:opacity-100 transition duration-500 ease-in-out"
          src="../../../assets/project/design.jpg"
          alt=""
        />
      </div>
    </div>
  </div>
</div>
