<div *ngIf="level" class="bg-white p-12">
  <div class="mb-12">Total Projects: {{ totalProject }}</div>
  <div class="">Challenges :</div>
  <div
    class="bg-white drop-shadow-xl flex justify-between w-[60rem] px-8 py-12"
  >
    <div
      *ngFor="let i of level"
      [ngClass]="{
        'bg-green/[0.7]': i.difficulty == 'Easy',
        'bg-orange/[0.7]': i.difficulty == 'Medium',
        'bg-red/[0.7]': i.difficulty == 'Hard',
        'bg-purple/[0.7]': i.difficulty == 'Ultimate'
      }"
      class="flex flex-col items-center justify-center p-8 drop-shadow-md rounded-md"
    >
      <div class="flex items-center justify-center">
        <div class="">
          <mat-progress-spinner mode="determinate" value="{{ i.percentage }}">
          </mat-progress-spinner>
        </div>
        <div class="text-xl font-bold absolute">{{ i.projects }}</div>
      </div>
      <div class="text-xl font-medium mt-4">
        {{ i.difficulty }}
      </div>
    </div>
  </div>
</div>
