<nav class="flex h-full bg-gray-light/[0.2]">
  <div class="bg-white drop-shadow-2xl flex flex-col justify-between px-4 py-4">
    <div>
      <a routerLink="/">
        <img class="w-8 mb-4" src="assets/sidebar/home.png" alt="home" />
      </a>
      <a routerLink="/explore">
        <img class="w-8" src="assets/sidebar/explore.png" alt="home" />
      </a>
    </div>
    <div class="flex flex-col justify-between">
      <button (click)="logout()">
        <img class="w-8" src="assets/sidebar/log_out.png" alt="alert" />
      </button>
      <button (click)="openDialog()">
        <img class="w-8 my-4" src="assets/sidebar/alert.png" alt="alert" />
      </button>
      <a routerLink="/setting">
        <img class="w-8" src="assets/sidebar/setting.png" alt="setting" />
      </a>
    </div>
  </div>
  <div class="w-full">
    <router-outlet></router-outlet>
  </div>
</nav>
