<div class="pl-16 pt-12 flex">
  <div class="flex flex-col mr-8">
    <div>
      <img
        class="w-[45rem] rounded-2xl"
        src="assets/project/design.jpg"
        alt="project_banner"
      />
    </div>
    <div class="mt-12">
      <div class="flex items-center p-2 bg-black/[0.1] rounded-t-lg">
        <img class="w-8" src="assets/project/timeline.png" alt="timeline" />
        <h1 class="">Timeline</h1>
      </div>
      <div class="h-[25rem] overflow-y-auto drop-shadow-xl bg-white/[0.5]">
        <div class="" *ngFor="let i of index">
          <div
            class="h-[60px] hover:bg-white/[0.7] px-2 hover:drop-shadow-xl flex items-center justify-between"
          >
            <span class="my-4 text-gray-dark">{{ i }}</span>
            <code class="text-right">19-02-2003</code>
          </div>
          <hr class="border-gray" />
        </div>
      </div>
    </div>
  </div>
  <div class="flex-1 pr-12">
    <div class="flex flex-col border-l-4 border-purple pl-4 py-2">
      <span class="text-3xl font-medium">Project-{{ id }}</span>
      <a class="text-sm" href="https://prakhar-5447.github.io/angular-portfolio"
        >https://prakhar-5447.github.io/angular-portfolio</a
      >
    </div>
    <div>
      <p class="text-justify text-lg mt-8">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Alias, odio sed
        modi molestiae in amet corrupti incidunt eaque similique veniam maxime
        libero qui repellendus, laborum expedita ullam facere doloremque
        officiis sapiente illum nesciunt minima soluta aperiam. Accusantium
        pariatur harum necessitatibus eius, laudantium error dicta vero adipisci
        similique eaque nisi minima quisquam vel ducimus, sapiente, assumenda
        expedita. Deleniti labore ex minus consequuntur saepe officiis
        voluptates molestias. Laborum at nemo culpa vel expedita harum. Animi
        laboriosam velit voluptatem odio ex quas facilis dolore beatae,
        voluptatibus quis ad, optio ab odit hic repellendus, libero sint debitis
        ea adipisci? Eum iste vel sapiente consequuntur! Lorem ipsum dolor sit
        amet consectetur adipisicing elit. Alias, odio sed modi molestiae in
        amet corrupti incidunt eaque similique veniam maxime libero qui
        repellendus, laborum expedita ullam facere doloremque officiis sapiente
        illum nesciunt minima soluta aperiam. Accusantium pariatur harum
        necessitatibus eius, laudantium error dicta vero adipisci similique
        eaque nisi minima quisquam vel ducimus, sapiente, assumenda expedita.
        Deleniti labore ex minus consequuntur saepe officiis voluptates
        molestias. Laborum at nemo culpa vel expedita harum. Animi laboriosam
        velit voluptatem odio ex quas facilis dolore beatae, voluptatibus quis
        ad, optio ab odit hic repellendus, libero sint debitis ea adipisci? Eum
        iste vel sapiente consequuntur!
      </p>
    </div>
    <div class="my-4">
      <h4 class="font-medium text-lg mb-2">Technology :</h4>
      <mat-chip-list aria-label="Fish selection">
        <mat-chip
          ngClass=" hover:bg-purple hover:text-white"
          *ngFor="let t of tech"
          class="text-medium"
        >
          <div class="p-px">
            {{ t }}
          </div>
        </mat-chip>
      </mat-chip-list>
    </div>
  </div>
</div>
