<div class="pl-16 pt-12 flex">
  <div *ngIf="projectInfo" class="flex flex-col mr-8">
    <div>
      <img
        class="w-[45rem] rounded-2xl"
        src="http://127.0.0.1:8000/upload/{{ projectInfo.ProjectImage }}"
        alt="project_banner"
      />
    </div>
    <div class="mt-12">
      <div class="flex items-center p-2 bg-black/[0.1] rounded-t-lg">
        <img class="w-8" src="assets/project/timeline.png" alt="timeline" />
        <h1 class="">Timeline</h1>
      </div>
      <div class="h-[25rem] overflow-y-auto drop-shadow-xl bg-white/[0.5]">
        <div class="" *ngFor="let i of projectInfo.Work">
          <div
            class="h-[60px] hover:bg-white/[0.7] px-2 hover:drop-shadow-xl flex items-center justify-between"
          >
            <span class="my-4 text-gray-dark">{{ i.Title }}</span>
            <code class="text-right">{{i.Date | date}}</code>
          </div>
          <hr class="border-gray" />
        </div>
      </div>
    </div>
  </div>
  <div *ngIf="projectInfo" class="flex-1 pr-12">
    <div class="flex flex-col border-l-4 border-purple pl-4 py-2">
      <span class="text-3xl font-medium">{{ projectInfo.Name }}</span>
      <a class="text-sm" href="{{ projectInfo.Url }}">{{ projectInfo.Url }}</a>
    </div>
    <div>
      <p class="text-justify text-lg mt-8">
        {{ projectInfo.Description }}
      </p>
    </div>
    <div class="my-4">
      <h4 class="font-medium text-lg mb-2">Technology :</h4>
      <mat-chip-list aria-label="Fish selection">
        <mat-chip
          ngClass=" hover:bg-purple hover:text-white"
          *ngFor="let t of projectInfo.Technology"
          class="text-medium"
        >
          <div class="p-px">
            {{ t.name }}
          </div>
        </mat-chip>
      </mat-chip-list>
    </div>
  </div>
</div>
